body{
    min-height: 100vh;
    background: #ffffff;
    font-family: sans-serif;
    display: grid;
    place-items: center;
}

p{
    font-size: 1.3125rem;
    font-weight: 700;
    color: #222;
    margin-bottom: 5rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 20rem;
    background: #ffffff;
    padding: 4rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.15);
}

label{
    width: 100%;
    color: #ffffff;
    align-self: flex-start;
    transition: 0.15s linear;
}
label{
    color: #000000;
}

input{
    font-size: 1.1875rem;
    color: #404040;
    padding: 1rem 0 0.5rem 0;
    width: 100%;
    border: none;
    border-color: #a0a0a0;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    margin-bottom: 3rem;
    transition: 0.15s linear;
}

button{
    font-size: 0.8125rem;
    line-height: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    padding: 1rem 2rem;
    cursor: pointer;
    background: #c83d3d ;
    color: #FFF ;
    border: 1px solid currentColor;
    border-radius: 4px;
    margin-top: 0.5rem;
    transition: 0.25s;
}

.btn-voltar{
    font-size: 0.8125rem;
    line-height: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    padding: 1rem 2rem;
    cursor: pointer;
    background:  transparent;
    color: #c83d3d;
    border: 1px solid currentColor;
    border-radius: 4px;
    margin-top: 0.5rem;
    transition: 0.25s;
}

button:hover,
button:focus{
    outline: none;
    transform: scale(0.98);
}



.btn-voltar{
    width: 150px;
    height: 50px;
    padding: 0;   
}

.btn-voltar:hover {
    outline: none;
    background: #c83d3d;
    color: #FFF;
}

div .btn-voltar{
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: #000000;
    font-size: 0.875rem;
    font-weight: 600;
    transition: 0.3s;
}

a:first-of-type{
    margin-top: 3rem;
}

a + a{
    margin-top: 1.125rem;
}

